Flask
python-dotenv
requests
langchain
langchain-core
langchain-community
langchain-chroma
chromadb
langchain-groq
sentence-transformers
pypdf
Pillow
pydantic
langchain-huggingface
langchain-text-splitters