*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

background:linear-gradient(135deg,#FFF7F7,#F7F6FF,#EEF8F5);

min-height:100vh;

display:flex;

justify-content:center;

padding:40px;
}

.container{

width:900px;

}

.heading{

text-align:center;

margin-bottom:35px;

}

.heading h1{

font-size:45px;

color:#6F5CC2;

}

.heading p{

font-size:18px;

color:#666;

margin-top:10px;

}

.card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.08);

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

}

.input-box{

display:flex;

flex-direction:column;

}

.full{

grid-column:span 2;

}

label{

font-weight:600;

margin-bottom:10px;

color:#444;

}

input,

select,

textarea{

padding:14px;

border-radius:12px;

border:1px solid #ddd;

font-size:15px;

outline:none;

transition:.3s;

}

input:focus,

select:focus,

textarea:focus{

border-color:#7C68E6;

box-shadow:0 0 0 3px rgba(124,104,230,.15);

}

textarea{

resize:none;

}

button{

grid-column:span 2;

padding:16px;

font-size:18px;

border:none;

background:#7C68E6;

color:white;

border-radius:14px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#6550d6;

transform:translateY(-2px);

}

@media(max-width:800px){

.card{

grid-template-columns:1fr;

}

.full,

button{

grid-column:span 1;

}

}
